* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}
body{
  
  height: 100%;
}

.header-container{
  align-items: center;
  background-color: #323333;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

h1 {
  color: rgb(238, 238, 238);
}

h3{
  color: rgb(194, 194, 194);
}

h3:hover {
  color: #0fa36b;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.text-section {
  /* border:  2px solid red; */
  display:flex;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
}

p {
  color: #232525;
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
}

.gallery {
  /* border:  2px solid red; */
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 100px auto 13px auto;
  width: 30%;
}

.gallery-card {
  align-items: center;
  background-color:  rgb(241, 241, 241);
  border-radius: 15%;
  box-shadow: 2px 3px rgba(161, 161, 161, 0.5);
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: center;
  margin: 0 10px 15px 0;
  width: 180px;
}

h4 {
  color: #5c687c;
  margin-bottom: 10px;
  margin-top: 10px;
}

footer {
  /* border:  2px solid red; */
  align-items: center;
  display:flex;
  justify-content: center;
  margin: 150px;
}