h1, p{
    text-align: center;
    
}
ol:hover , ul:hover {
    background-color: aqua;
    
}
li:active {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
}
li {
    list-style: none;
}
